* {
  margin: 0;
  box-sizing: border-box;
}

.citta {
  position: relative;
  height: 100vh;
  background: white;
  background-size: cover;
  background-position: center;
}


.citta1 {
  background-image: url(../immagini/imgtaranto.jpg);

}

.citta2 {

  background-image: url(../immagini/imgroma.jpg);

}

.citta3 {

  background-image: url(../immagini/imgvicenza.jpg);

}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.nome-città {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: papyrus;
  font-size: 70px;
}
